body {
	font:70% Verdana,Tahoma,Arial,sans-serif;
	background:#000000;
    margin: 10px;
    padding: 0;
	}

/* Main layout*/
#wrap {
	background:#ffffff;
	margin:0 auto;
    padding: 5px;
    width:810px;
    border-radius: 10px;
	}

/* Header*/
header {
	height:95px;
    margin: 0 1px;
    }
.align_right {
    float: right;
    }

/*menu */
nav {
	background:#ffffff;
	float:left;
	width:800px;
	text-align:center;
	}
nav ul {
	list-style:none;
	margin:0;
	padding:0;
	}
nav li {
	float:left;
	}
nav li a {
    display:block;
    border: 1px solid #000000;
    color: #000000;
	font-size:1.2em; 
	margin:1px; 
	padding:5px 20px 5px 20px;
	text-decoration:none;
	}
nav li a:hover {
	background: #000000;
    border: 1px solid #000000;
    color: #ffffff;
	text-decoration:none;
	}
nav li ul {
    text-align:left;
	display:none;
	position:absolute;
	}
nav li:hover ul{
	display:block;
	background: #ffffff;
    border: 1px solid #000000;
    color: #000000;
	text-decoration:none;
	}
nav li li {
	display:block;
	float:none;
	}
nav li ul a{
	display:block;
	}
nav li ul a:hover{
    border: 1px solid #000000;
    color: #ffffff;
	font-size:1.2em; 
	margin:1px; 
	padding:5px 20px 5px 20px;
	text-decoration:none;
	}

/* Contents */
section {
    float: left;
    width: 786px;
    margin-top: 5px;
    border: 2px solid #000000;
    text-align: justify;
    padding: 10px;
    border-radius: 10px;
	}
section h1 {
	font-size:2.5em;
	font-weight:500; 
	margin:15px 0 15px;
	}
section h2 {
	font-size:2em;
	font-weight:500;
	letter-spacing:-2px;
	margin:15px 0 30px;
	}
section h3 {
	font-size:1.5em;
	font-weight:500; 
	margin:15px 0 15px;
	}
#content1 {
    float: left;
    width: 500px;
    }
.comments {
    margin-left: 73px;
    margin-top: -23px;
    }
#content2 {
    font-size: 110%;
    float: right;
    border-left: 1px solid #aaaaaa;
    width: 200px;
    padding-left: 10px;
    }
#content3 {
    clear: both;
    border-top: 1px solid #aaaaaa;
    }
.drop_line1 {
    float: left;
    padding: 10px 10px 0;;
    margin-top: 10px;
    }
.drop_line2 {
    float: right;
    padding: 0 40px;
    margin-top: 10px;
    }
.drop_line3 {
    float: right;
    padding: 10px 10px 0;
    margin-top: 10px;
    border-left: 1px solid #bbbbbb;
    }
#drop {
    clear: both;
    border: 1px solid #000000;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    background: #eeeeee;
    }
.dropleft {
    float:left;
    }
.dropright {
    float:left;
    margin-left: 10px;
    }
.clear {
    clear: both;
}
#form_left {
    float: left;
    }
#form_right {
    float: left;
    margin-left: 50px;
    }
#form_bottom {
    clear: both;
    }

/* Footer */
footer {
	background:#ffffff;
	border-top:2px solid #dadada;
	clear:both;
	color:#999999;
	font-size:0.9em;
    margin: 5px auto 0;
    padding: 5px 0;
    text-align:center;
	width:500px;
	}
footer a {
	color:#999999;
	}

/* forms and tables*/
.field, .actions {
    margin-bottom: 10px;
    }
table {
    border: 1px solid #000000;
    background: #ffffff;
    }
th {
    background: #cccccc;
    border: 1px solid #000000;
    text-align: center;
    padding-right: 5px;
    padding-left: 5px;
    }
td {
    padding-right: 5px;
    padding-left: 5px;
    }
.space{
    padding-left: 20px;
    }

/* flash and errors */
.success {
    background:#e6efc2;
    color:#264409;
    border-color:#c6d880;
    font-size:2em;
    }
.error {
    background:#cccccc;
    color:#ff3333;
    border-color:#ff3333;
    font-size:2em;
    }
.field_with_errors {
    background-color: #ff3333;
    display: table;
    }
.field_with_errors label {
    color: #ff3333;
    background-color: #ffffff;
    }
#error_explanation {
    width: 400px;
    border: 2px solid #ff3333;
    margin-bottom: 20px;
    background-color: #cccccc;
    }

/*hover to display*/
.showhim {
    cursor: help;
    }
.showme {
    display: none;
    position: absolute;
    margin-left: 40px;
    margin-top: -30px;
    background: #999999;
    padding: 5px;
    border-radius: 10px;
    }
.showhim:hover .showme {
    display: block;
	}