body {margin:0; padding:0; line-height: 1.4em; word-spacing:1px; letter-spacing:0.2px; font: 13px Arial, Helvetica,"Lucida Grande", serif; color: #000;}


/* Main layout*/
#wrap {
	background:#ffffff;
	margin:0 auto;
    padding: 5px;
    width:810px;
    border-radius: 10px;
	}

/* Header*/
header {
	height:95px;
    margin: 0 1px;
    }
.align_right {
    display: none;
    }

/*menu */
nav {
display: none;
	}

/* Contents */
section {
    float: left;
    width: 786px;
    margin-top: 5px;
    border: 2px solid #000000;
    text-align: justify;
    padding: 10px;
    border-radius: 10px;
	}
section h1 {
	font-size:2.5em;
	font-weight:500; 
	margin:15px 0 15px;
	}
section h2 {
	font-size:2em;
	font-weight:500;
	letter-spacing:-2px;
	margin:15px 0 30px;
	}
section h3 {
	font-size:1.5em;
	font-weight:500; 
	margin:15px 0 15px;
	}
#content1 {
    float: left;
    width: 500px;
    }
.comments {
    margin-left: 73px;
    margin-top: -23px;
    }
#content2 {
    font-size: 110%;
    float: right;
    border-left: 1px solid #aaaaaa;
    width: 200px;
    padding-left: 10px;
    }
#content3 {
    clear: both;
    border-top: 1px solid #aaaaaa;
    }
.drop_line1 {
    float: left;
    padding: 10px 10px 0;;
    margin-top: 10px;
    }
.drop_line2 {
    float: right;
    padding: 0 40px;
    margin-top: 10px;
    }
.drop_line3 {
    float: right;
    padding: 10px 10px 0;
    margin-top: 10px;
    border-left: 1px solid #bbbbbb;
    }
#drop {
    clear: both;
    border: 1px solid #000000;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    background: #eeeeee;
    }
.dropleft {
    float:left;
    }
.dropright {
    float:left;
    margin-left: 10px;
    }
.clear {
    clear: both;
}
#form_left {
    float: left;
    }
#form_right {
    float: left;
    margin-left: 50px;
    }
#form_bottom {
    clear: both;
    }

/* Footer */
footer {
	background:#ffffff;
	border-top:2px solid #dadada;
	clear:both;
	color:#000000;
	font-size:0.9em;
    margin: 5px auto 0;
    padding: 5px 0;
    text-align:center;
	width:500px;
	}
footer a {
	color: #000000;
	}

/* forms and tables*/
.field, .actions {
    margin-bottom: 10px;
    }
table {
    border: 1px solid #000000;
    background: #ffffff;
    }
th {
    background: #cccccc;
    border: 1px solid #000000;
    text-align: center;
    padding-right: 5px;
    padding-left: 5px;
    }
td {
    padding-right: 5px;
    padding-left: 5px;
    }
.space{
    padding-left: 20px;
    }
a {
    display: none;
}